DemoClient/DemoClient/Service References/DemoService/AuthorityContext_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" elementFormDefault="qualified" targetNamespace="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AuthorityContext" type="tns:AuthorityContextType" />
  <xsd:complexType name="AuthorityContextType">
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="MunicipalityCVR" type="tns:CVRNumber" />
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="CVRNumber">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>