DemoClient/DemoClient/Service References/DemoService/InvocationContext_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://serviceplatformen.dk/xml/schemas/InvocationContext/1/" elementFormDefault="qualified" targetNamespace="http://serviceplatformen.dk/xml/schemas/InvocationContext/1/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="InvocationContext" type="tns:InvocationContextType" />
  <xsd:complexType name="InvocationContextType">
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" ref="tns:ServiceAgreementUUID" />
      <xsd:element minOccurs="1" maxOccurs="1" ref="tns:UserSystemUUID" />
      <xsd:element minOccurs="1" maxOccurs="1" ref="tns:UserUUID" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="tns:OnBehalfOfUser" />
      <xsd:element minOccurs="1" maxOccurs="1" ref="tns:ServiceUUID" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="tns:CallersServiceCallIdentifier" />
      <xsd:element minOccurs="0" maxOccurs="1" ref="tns:AccountingInfo" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="ServiceAgreementUUID" type="tns:ServiceAgreenentUUIDtype" />
  <xsd:simpleType name="ServiceAgreenentUUIDtype">
    <xsd:restriction base="tns:UUIDtype" />
  </xsd:simpleType>
  <xsd:element name="ServiceUUID" type="tns:ServiceUUIDtype" />
  <xsd:simpleType name="ServiceUUIDtype">
    <xsd:restriction base="tns:UUIDtype" />
  </xsd:simpleType>
  <xsd:element name="UserSystemUUID" type="tns:UserSystemUUIDtype" />
  <xsd:simpleType name="UserSystemUUIDtype">
    <xsd:restriction base="tns:UUIDtype" />
  </xsd:simpleType>
  <xsd:element name="UserUUID" type="tns:UserUUIDtype" />
  <xsd:simpleType name="UserUUIDtype">
    <xsd:restriction base="tns:UUIDtype" />
  </xsd:simpleType>
  <xsd:element name="OnBehalfOfUser" type="tns:OnBehalfOfUserType" />
  <xsd:simpleType name="OnBehalfOfUserType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="CallersServiceCallIdentifier" type="tns:CallersServiceCallIdentifierType" />
  <xsd:simpleType name="CallersServiceCallIdentifierType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="AccountingInfo" type="tns:AccountingInfoType" />
  <xsd:simpleType name="AccountingInfoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UUIDtype">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>